/* Шрифты */

@font-face {
  font-family: 'TavolgaFree';
  src: url('./assets/fonts/tavolga-free.ttf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('./assets/fonts/Gilroy-Regular.ttf');
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url('./assets/fonts/Gilroy-Medium.ttf');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('./assets/fonts/Gilroy-Bold.ttf');
}

@font-face {
  font-family: 'Gilroy-ExtraBold';
  src: url('./assets/fonts/Gilroy-ExtraBold.ttf');
}

/* Стили */

* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Кнопки */
.btn {
  background: linear-gradient(0deg, rgb(113,8,30) 0%, rgb(215,72,92) 100%);
  border: none;
  cursor: pointer;
  line-height: 1;
  /* анимация */
  transition: all 0.5s ease
}

.main__btn {
  border-radius: 30px;
  width: 240px;
  box-sizing: border-box;
  padding: 21px;
  /*  текст  */
  font-family: 'Gilroy-Bold', sans-serif;
  font-size: 18px;
  color: rgb(255, 255, 255);
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

